.productCard{
    position:relative;
    background-color: #000000;
    margin:18px;
    height: 322px;
    width: 158px;
}
.productCard__img{
    height: 254px;
    width: 158px;
}

.productCard p{
    text-align:left;
    color:white;
    font-size: 14px;
}
.productCard__addToFavorites{
    margin:5px;
    position:absolute;
    top:0;
    right: 0;
}