.productCard{
    position:relative;
    background-color:#161515;/* var(--main-black-color) */
    margin:18px;
    width: 158px;
    color:white;
    cursor:pointer;
    display: flex;
    flex-direction: column;
}
.productCard__img{
    max-height: 254px;
    width: 158px;
}

.productCard p{
    text-align:left;
    font-size: 14px;
}
.productCard__addToFavorites{
    margin:5px;
    position:absolute;
    top:0;
    right: 0;
}
.productCard__price{
bottom:0;
}
.productCard__layout{
    display:flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}