.footer {
	background-color: black;
	color:white;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.footer__textBox{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.footer__socials{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.footer__socials img{
	margin: 10px;
}